:root {
    --main-bg-color: #8ed0ff;
    --main-txt-color: #00394d;
    --main-padding: 10px;
    --main-btn: #0096cc;
    --main-hover: #2a4166;
    --main-border-color: #00394d;
}


body  {
    
    background-image: url("bgimage.jpg"), url("SomeImage");
    padding-bottom: 10%;
}

.dropbtn {
    background-color: var(--main-hover);
    color: white;
    padding: 0.5%;
    font-size:16px;
    border: none;
    border-radius: 1%;
}
.dropbtn:hover {
    background-color: var(--main-bg-color);
    color: black;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
  bottom: 1%;
  padding: 0.5%;
  background-color: var(--main-hover);
  border: 1% solid var(--main-border-color);
  border-radius: 1%;
      margin: 0.1%;

}
.banner {
    top: 33%;
    z-index: -1;
    border-radius: 1%;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.LeftText {
    top: 20%;
    float: left;
    width: 80%;
    padding-left: 1%;
    z-index: -1;
    background-color: var(--main-bg-color);

    border-radius: 1%;
        margin: 0.5%;
}
.RightText {
    top: 2%;
    float: right;
    width: 12%;
    background-color: var(--main-bg-color);
        border-radius: 1%;
        margin: 0.5%;
        padding: 0.5%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.Textarea {
    background-color: var(--main-bg-color);
    padding: 2%;
    margin-top: 1%;
}

.Foot {
    
    padding-bottom: 2%;
    text-align: center;
    background-color: var(--main-bg-color);
    margin-top: 2%;
    border: 1% solid #00394d;
            border-radius: 1%;
        margin: 0.1%;
        padding: 0.5%;
}
