:root {
    --main-bg-color: #00bfff;
    --main-txt-color: #00394d;
    --main-padding: 10px;
    --main-btn: #0096cc;
    --main-border-color: #00394d;
}


body  {
    
    background-image: url("SomeImageFirst"), url("SomeImage");
    background: linear-gradient( white ,#00bfff,  #00394d);
    padding-bottom: 10vh;
}

.dropbtn {
    background-color: var(--main-bg-color);
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
.dropbtn:hover {
    background-color: #9CAF50;
    color: black;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
  padding: 3px;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-border-color);
  border-radius: 10px;
      margin: 2px;

}
.banner {
    
    top: 150px;
    z-index: -1;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.LeftText {
    top: 120px;
    float: left;
    width: 86%;
    padding-left: 10px;
    z-index: -1;
    background-color: var(--main-bg-color);

    border-radius: 10px;
        margin: 2px;
}
.RightText {
    top: 120px;
    float: left;
    width: 12%;
    background-color: var(--main-bg-color);
    padding-left: 10px;
        border-radius: 10px;
        margin: 2px;
        padding: 3px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.Textarea {
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-top: 10px;
}

.Foot {
    
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--main-bg-color);
    margin-top: 20px;
    border: 3px solid #00394d;
            border-radius: 10px;
        margin: 2px;
        padding: 3px;
}
