:root {
    --main-bg-color: #8ed0ff;
    --main-txt-color: #00394d;
    --main-padding: 10px;
    --main-btn: #0096cc;
    --main-hover: #2a4166;
    --main-border-color: #00394d;
}

dd {
    padding: 10px;
    float: top;
}

dd:hover {
    cursor: pointer;
    color:  white;
    }

span.price {
  float: right;
  color: grey;
}

.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background-color: var(--main-border-color);
  padding: 10px;
  border-radius: 10px;
}
.grid > div {
  background-color: #bae2ff;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 4px;
}

.productTitle {
        border: 1px solid;
    border-radius: 4px;
    float: top;
}

.productImg {
    width: 50%
    height: 50%
    border-radius: 4px;
}

.itemImg{
    border: 1px solid;
    border-radius: 4px;
    float: bottom;
    text-align: left;
    width:33%;
    height:33%;
}


.price {
    color: grey;
    font-size: 15px;
}



.Shop {
    top: 120px;
    float: left;
    width: 71%;
    padding-bottom: 100vh;
    padding-left: 10px;
    z-index: -1;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    margin: 2px;
}

.ShopItems {
    top: 120px;
    float: left;
    width: 15%;
    padding-left: 10px;
    z-index: -1;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    margin: 2px;
    padding: 3px;
}
