:root {
    --main-bg-color: #8ed0ff;
    --main-txt-color: #00394d;
    --main-padding: 10px;
    --main-btn: #0096cc;
    --main-hover: #2a4166;
    --main-border-color: #00394d;
}

dd {
    padding: 1%;
    float: top;
}

li:hover {
    cursor: pointer;
    color:  white;
}

dd:hover {
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
    }

span.price {
  float: right;
  color: grey;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.4%;
    grid-row-gap: 10px;
    background-color: var(--main-border-color);
    padding: 1%;
    border-radius: 1%;
}
.grid > div {
  background-color: #bae2ff;
  border: 2% solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 1%;
}

.grid > div:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.productTitle {
        border: 1% solid;
    border-radius: 1%;
    float: top;
    background-color: var(--main-bg-color)
}

.productImg {
    width: 50%
    height: 50%
    border-radius: 1%;
}

.itemImg{
    border: 1% solid;
    border-radius: 1%;
    width:25%;
    height:25%;
}


.price {
    color: grey;
    font-size: 15px;
}

.Shop {
    top: 30%;
    float: left;
    width: 73%;
    padding-bottom: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    z-index: -1;
    background-color: var(--main-bg-color);
    border-radius: 1%;
    margin: 0.1%;
}

.ShopItems {
    top: 30%;
    float: left;
    width: 10%;
    padding-left: 1%;
    z-index: -1;
    background-color: var(--main-bg-color);
    border-radius: 1%;
    margin: 0.1%;
    padding: 0.1%;
}
.cartbtn{
    opacity :1;
}
.poductInfo{
    float: bottom;
}
